<div class="container">
  <header>
      <h1> Cotação dólar por período</h1>
      <hr>
  </header>
  <main>
    <section class="row">
      <div class="col-12 col-md-4">
        <label for="">Início:</label>
        <input type="date" [(ngModel)]="dataInicio" mask="00/00/0000" class="form-control" name="" id="">
      </div>
      <div class="col-12 col-md-4">
        <label for="">Fim:</label>
        <input type="date" [(ngModel)]="dataFinal" mask="00/00/0000" class="form-control" name="" id="">
      </div>
      <div class="col-12 col-md-4 mt-4">
        <button type="button" class="btn btn-light btn-sm" (click)="mostrarCotacao()">Consultar</button>
      </div>

    </section>
    <section class="mt-5 table-responsive-sm">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Compra</th>
            <th>Venda</th>
            <th>Data cotação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cotacao of cotacoes ">
            <td> {{ cotacao.cotacaoCompra}} </td>
            <td> {{ cotacao.cotacaoVenda }} </td>
            <td> {{ cotacao.dataCotacao }} </td>
          </tr>
        </tbody>

      </table>
    </section>

  </main>


</div>
